.container {
    padding: 8px;
    box-shadow: grey;
    max-width: 800px;
    margin: auto;
}

.list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.item {
    margin: auto;
}